<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- footer Fragment-->
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/main}"><img src="/images/KakaoTalk_20240513_144539248.png" width="90"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                </ul>
            </div>
            <div class="text-end">
<!--                <a role="button" id="signup" class="btn btn-outline-primary"-->
<!--                   sec:authorize="isAnonymous()"-->
<!--                   th:href="@{/user/signup}">회원가입</a>-->
<!--                <a role="button" id="login1" class="btn btn-outline-primary"-->
<!--                   sec:authorize="isAnonymous()"-->
<!--                   th:href="@{/user/login}">Login</a>-->
                <a role="button" id="logout2" class="btn btn-outline-primary"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
    <th:block th:if="${msg} != null">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong th:text="${msg}">Holy guacamole!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </th:block>
</div>
</html>